.sec1{
        background-color: white;
        border: 1px solid royalblue;
        padding: 20px;
        max-width: 1500px;
        max-height: 700px;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        margin-left: 80px;
        margin-top: 20px;
        margin-right: 80px;
}
.par1{
        margin-left: 50px;
}

.im1{
    max-width: 700px;
    min-height: 500px;
    margin-left: 0px;
    margin-top: 20px;
}
.hd1{
    text-align: center;
    font-weight: bold;
    color: midnightblue;
    padding-top: 10px;
    padding-bottom: 20px;
}