<section class="sec1">
<form class="row g-3 needs-validation" novalidate>
  <div class="col-mid-12">
    <label for="validationCustom01" class="form-label">Name</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    
  </div>
  <div class="col-mid-12">
    <label for="validationCustom01" class="form-label">Email</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    
  </div>
  
  <div class="col-mid-12">
    <label for="validationCustom01" class="form-label">Addresss</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    
  </div>
  <div class="col-mid-12">
    <label for="validationCustom01" class="form-label">Message</label>
    <br>
    <input type="text" class="form-control-2" id="validationCustom01" required>
    
  </div>
 
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
</section>