.hd1{
        color: royalblue;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
    }
.par1{
        color: darkslateblue;
        text-align: left;
        padding-top: 30px;
        margin-left:30px ;
        margin-right: 30px;

    }